[Unit]
Description=Phobos Local Resource Scheduler (LRS) daemon
After=network-online.target

[Service]
Type=forking
# Send a SIGTERM signal to the main process unit, and then a SIGKILL to the
# whole control group after 5 minutes
KillMode=mixed
TimeoutStopSec=300
Environment="DAEMON_PID_FILEPATH=/run/phobosd/phobosd.pid"
RuntimeDirectory=phobosd
PIDFile=/run/phobosd/phobosd.pid
ExecStart=/usr/sbin/phobosd

[Install]
WantedBy=multi-user.target
