[Unit]
Description=Phobos Tape Library Controler (TLC) daemon
After=network-online.target

[Service]
Type=forking
# Send a SIGTERM signal to the main process unit, and then a SIGKILL to the
# whole control group after 5 minutes
KillMode=mixed
TimeoutStopSec=300
Environment="DAEMON_PID_FILEPATH=/run/tlc/tlc.pid"
RuntimeDirectory=tlc
PIDFile=/run/tlc/tlc.pid
ExecStart=/usr/sbin/tlc

[Install]
WantedBy=multi-user.target
